In [1]:
import pandas as pd

In [2]:
url = 'tabla_estaciones.csv'
df = pd.read_csv(url)

In [22]:
df.head(20)

,id,name,downhill_skiing,nordic_skiing,status_id,lifts_total,runs_total,km_total,green_runs_total,blue_runs_total,red_runs_total,black_runs_total,special_runs,snowpark,special_runs_total,trineos,esqui_de_fondo
0,22001,Alp 2500,1,0,1,33,145,145.00,29,49,44,16,0,0,0,0,0
1,20,La Molina,1,0,1,16,71,71.00,20,18,22,6,0,1,0,1,0
2,19,Masella,1,0,1,17,74,74.00,9,31,22,10,0,0,0,0,0
3,16,Baqueira Beret,1,0,1,36,170,170.00,5,43,48,17,1,1,3,0,1
4,17,Boí Taüll,1,0,1,10,46,46.00,6,6,15,16,0,1,0,1,0
5,18,Espot,1,0,1,5,25,25.00,2,10,6,4,0,0,0,1,0
6,21,Port Ainé,1,0,1,7,27,27.00,6,4,11,4,0,1,0,1,0
7,22,Port del Comte,1,0,1,17,50,50.00,8,13,12,6,0,0,0,0,0
8,2412,Tavascán,1,0,4,3,7,7.00,2,1,2,2,0,0,0,0,0
9,23,Vall de Nuria,1,0,1,7,8,8.00,3,3,3,2,0,0,0,1,0
10,24,Vallter,1,0,4,10,13,13.00,3,4,6,0,0,0,0,1,0
11,22003,100K Astún - Candanchú,1,0,1,37,100,100.50,17,32,40,19,1,0,10,0,0
12,7,Astún,1,0,1,15,50,50.00,5,18,22,6,1,1,10,1,0
13,8,Candanchú,1,0,1,22,50,50.50,12,14,18,13,0,0,0,1,0
14,9,Cerler,1,0,4,20,80,80.00,10,19,27,16,1,1,1,0,0
15,22002,Formigal - Panticosa,1,0,1,37,182,182.00,12,36,52,42,1,0,5,0,0
16,10,Formigal,1,0,1,22,143,143.00,6,20,35,37,1,1,4,0,0
17,11,Panticosa,1,0,1,15,39,39.00,6,16,17,5,1,0,1,0,0
18,15,Alto Campoo,1,0,1,12,30,30.38,4,10,9,0,0,1,0,0,0
19,5448,Fuentes de Invierno,1,0,2,5,8,8.76,3,3,6,3,0,0,0,0,0

In [20]:
df.groupby('name')[['lifts_total', 'runs_total', 'km_total']].mean(numeric_only=True).head(20)

                          lifts_total  runs_total  km_total
name
100K Astún - Candanchú           37.0       100.0    100.50
Alp 2500                         33.0       145.0    145.00
Alto Campoo                      12.0        30.0     30.38
Artouste                         11.0        25.0     25.00
Ascou-Pailhères                   7.0        17.0     17.00
Astún                            15.0        50.0     50.00
Ax 3 Domaines                    19.0        80.0     80.00
Baqueira Beret                   36.0       170.0    170.00
Bourg d´Oueil                     3.0         5.0      5.00
Boí Taüll                        10.0        46.0     46.00
Cambre d´Aze                     16.0        22.0     22.00
Camurac                           5.0        15.0     15.00
Candanchú                        22.0        50.0     50.50
Cauterets                        15.0        40.0     40.00
Cauterets Cirque du Lys          11.0        36.0     36.00
Cauterets Pont d´Espagne          4.0         4.0      4.00
Cerler                           20.0        80.0     80.00
Espot                             5.0        25.0     25.00
Font-Romeu Pyrénées 2000         24.0        43.0     43.00
Formigal                         22.0       143.0    143.00